<div ng-include="'navigation.html'"></div>

				<!----//End-bottom-header---->
			<!---//End-header---->
		<!--- start-content---->
		<div ng-show="sessionErrorMsg" class="success-message"><center>Another Checkout session is going on please try after few minutes for anohter checkout! You will be redirected to products page in few seconds!</center></div>
		<div ng-show="dataErrorMsg" class="success-message"><center>Error getting proper data from server. Please try to checkout after some time. Redirecting to products Page in few seconds!</center></div>
		<div class="content product-box-main addedProductSuccessfully" ng-show="finalCheckOutPage">
			<div class="wrap">
				<!-- <div class="content-left">
					<div class="content-left-top-brands">
						<h3>Categories</h3>
						<ul>
							<li><a ng-click="gotoProductPage()">Product Page</a></li>
							<li><a ng-click="gotoProductPage()">Electronics</a></li>
							<li><a ng-click="gotoProductPage()">Fashion</a></li>
							<li><a ng-click="gotoProductPage()">Sports</a></li>
							<li><a ng-click="gotoProductPage()">Home & Garden</a></li>
							<li><a ng-click="gotoProductPage()">Baby, Kids & Pets</a></li>
							<li><a ng-click="gotoProductPage()">Toys & Games</a></li>
						</ul>
					</div>
				</div> -->
				<div class="content-right-c product-box">
					<div class="product-box-head">
							<div class="product-box-head-left">
								<h3>Final products in the cart. Review it before ordering. Please checkout in 60 seconds.</h3>
								<!-- <timer interval="1000" countdown="100">{{countdown}}</timer> -->
								<div class="timer" ng-show="timerCO">Remaning Time : {{counter}}</div>
							</div>
							<div ng-show="loginRequired" class="success-message"><center>Please login to Search product!</center></div>

							<div class="product-box-head-middle" ng-show="errorRemovingProduct"><center>There was an error removing product. Please reload the page and try again.</center></div>
							<div class="product-box-head-middle" ng-show="checkOutSuccess"><center>Your Order Hasbeen placed successfully.</center></div>
							<div class="product-box-head-middle" ng-show="noProductCO"><center>You have zero products in the cart Please purchase some item to checkout.</center></div>
							<div ng-click="checkOut()" class="loadmore-products product-box-head-right">
								<a href="">Submit Order</a>
							</div>
							<!-- <div class="product-box-head-right" ng-show="addedProductSuccessfully">Product has been added successfully.</div>
							<div class="product-box-head-right" ng-show="errorAddingProduct">There was an error adding product. Please reload the page and try again.</div> -->
							<!-- <div class="product-box-head-right">
								<ul>
									<li><span>Sort ::</span><a href=""> </a></li>
									<li><label> </label> <a href=""> Popular</a></li>
									<li><label> </label> <a href=""> New</a></li>
									<li><label> </label> <a href=""> Discount</a></li>
									<li><span>Price ::</span><a href="">Low High</a></li>
								</ul>
							</div> -->
							<div class="clear"> </div>
					</div>
					<div class="product-grids">
						<!--- start-rate---->
							<script src="web/js/jstarbox.js"></script>
							<link rel="stylesheet" href="web/css/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
							<script type="text/javascript">
								jQuery(function() {
									jQuery('.starbox').each(function() {
										var starbox = jQuery(this);
										starbox.starbox({
											average: starbox.attr('data-start-value'),
											changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
											ghosting: starbox.hasClass('ghosting'),
											autoUpdateAverage: starbox.hasClass('autoupdate'),
											buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
											stars: starbox.attr('data-star-count') || 5
										}).bind('starbox-value-changed', function(event, value) {
											if(starbox.hasClass('random')) {
												var val = Math.random();
												starbox.next().text(' '+val);
												return val;
											} 
										})
									});
								});
							</script>
							<!---//End-rate---->
					<div class="spinner" ng-show="cartSpinner">
			              <div class="bounce1"></div>
			              <div class="bounce2"></div>
			              <div class="bounce3"></div>
			        </div>
					<div class="productList" ng-show="productList" ng-repeat="product in products | limitTo:limit">
					<form ng-submit="removeProduct(product)">
						<div class="product-grid fade">
							
							<div class="product-grid-head">
								<ul class="grid-social">
									<li><a class="facebook" ><small>Total Quantity {{product.quantity}}</small></a></li>
									<li><a class="twitter" href=""><span> </span></a></li>
									<li><a class="googlep" href=""><span> </span></a></li>
									<div class="clear"> </div>
								</ul>
								
							</div>
							<div class="product-pic">
								<a><img class="product-img" src="{{product.productimageurl | changeThumbURL}}" altsrc="../../img/no-img.jpg" /></a>
								<p>
								<a><small>{{product.productname | limitTo:50}}...</small>
								</p>
							</div>
							<div class="product-info">
								<div class="product-info-cust">
									<a ng-click="removeProduct(product)">Remove From Cart</a>
								</div>
								<div class="product-info-price">
									<a>&#36; {{product.productprice | setDecimal: 2:product.quantity}}</a>
								</div>
								<div class="clear"> </div>
							</div>
							<div class="more-product-info">
								<a ng-click="removeProduct(product)"><span> </span></a>
							</div>
						</div>
						</form>
					

						</div>
						<div class="clear"> </div>
					</div>
					<!----start-load-more-products---->
					<div ng-show="loadMoreButton" ng-click="loadMore()" class="loadmore-products">
						<a href="">Loadmore</a>
					</div>
					<!----//End-load-more-products---->
				</div>
				<div class="clear"> </div>
			</div>
		</div>

		<!---- //End-bottom-grids---->
		<!--- //End-content---->
		<!---start-footer---->
		<div ng-include="'footer.html'"></div>
		<!---//End-footer---->
		<!---//End-wrap---->


 